.direnv
# Ignore the exports created by the process.
nix-export
nix-export.tar.gz
# Ignore build outputs.
result
# Coverage.
coverage.out
# Mac stuff.
.DS_Store
# Ignore npm and PyPip package exports.
packages
